[Unit]
Description=parcimonie with config file /etc/parcimonie.sh.d/%i.conf

[Service]
Type=simple
EnvironmentFile=/etc/parcimonie.sh.d/%i.conf
ExecStart=/usr/bin/parcimonie.sh

[Install]
WantedBy=multi-user.target
