[Unit]
Description=parcimonie with config file ~/.config/parcimonie.sh.conf

[Service]
Type=simple
EnvironmentFile=~/.config/parcimonie.sh.conf
ExecStart=/usr/bin/parcimonie.sh

[Install]
WantedBy=multi-user.target
