[Unit]
Description=parcimonie with config file /etc/parcimonie.sh.d/%I.conf

[Service]
Type=simple
ExecStart=/bin/bash -c "PARCIMONIE_CONF='/etc/parcimonie.sh.d/%I.conf' /usr/bin/parcimonie.sh"

[Install]
WantedBy=multi-user.target
